@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Shadows+Into+Light+Two&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: #fff;
}

.container {
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C18be0;
    font-size: 3rem;
    text-shadow: 0 0 42px #C18be0, 0 0 82px #C18be0;
    font-family: "Roboto Mono";
    font-weight: 300;
}

a {
    display: flex;
    padding: 5px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: background-color 0.3s;
    font-family: "Roboto Mono", monospace;
    font-weight:100;
    transition: .6s;
}

.separator-line-404 {
    width: 100%;
    height: 2px;
    background-color: #aa0b9da6;
}

a:hover {
    transition: .5s;
    border-color: #c972f1cb;
    color: white;
    text-shadow: 0 0 20px rgb(255, 255, 255);
}