@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Shadows+Into+Light+Two&display=swap');

header.top-nav {
  position: fixed;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 70%; /* Largeur pour les écrans desktop et iPad */
  height: 6%; /* Hauteur fixe */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1000;
  border-radius: 50px;
  background-color: rgb(48, 48, 48);
  text-align: center;
  cursor: url('../cursor/arrowhead.png') 8 8, auto !important;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15px;
}

header .logo {
  margin-left: -120vh;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 500;
  color: white;
}

header .container img {
  margin-right: 40px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: 'Roboto Mono';
  font-weight: 300;
  padding: 10px;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  transform: scale(1.1);
  border-radius: 15px;
  border-color: #c972f1cb;
  background-color: rgba(85, 85, 85, 0.541);
}

@media (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }

  header nav ul {
    display: flex;
  }
  
}

@media (max-width: 1023px) {
  header.top-nav {
    width: 85%;
    display:block;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 1000;
    border-radius: 25px;
    background-color: rgb(44, 44, 44);
    text-align: center;
    position: fixed;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    transition: height 0.5s ease;
    height: 50px;
  }

  header .container img {
    margin-top: 1.5%;
  }
  
  header.top-nav.active {
    height: 140px;
    align-items: start;
  }
  
  header .logo {
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: white;
    margin-left: -10%;
    margin-top: 2%;
  }

  header nav {
    width: 100%;
  }
  
  header nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 100%;
    margin-top: 35px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    gap: 20px;
    transition: max-height 1s ease, opacity 1.5s ease;
  }
  
  header nav ul.active {
    max-height: 300px;
    opacity: 1;
  }
  
  .menu-toggle {
    font-size: 1.5rem;
    color: rgba(207, 35, 212, 0.747);
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 18vh;
    margin-top:2%;
    position: relative;
  }

  .menu-toggle i.fa-bars {
    transition: transform 0.3s ease;
}

.menu-toggle i.fa-times {
    transition: transform 0.5s ease;
    transform: rotate(90deg); /* Rotation de la croix */
}
  
}
