@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 480px) {
    .overlay {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    .overlay {
        font-size: 4rem;
    }
}

@media screen and (max-width: 1023px) {
    .overlay {
        font-size: 1.5rem;
        text-align: center;
    }

    .background-image2 {
        height: 110vh !important;
    }

    .profile-card {
        width: 90% !important;
        max-width: 300px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9);
    }

    .profile-cards-container {
        margin-top: 200px!important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px;
        gap: 15px;
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    z-index: 1000;
    cursor: pointer;
    font-weight: lighter;
    text-shadow: 0 0 20px rgb(255, 255, 255);
    transition: opacity 0.5s ease, backdrop-filter 0.5s ease;
    backdrop-filter: blur(0px);
    font-family: "Roboto Mono", monospace;
    cursor: none;
}

.overlay.hidden {
    opacity: 0;
    backdrop-filter: blur(5px);
    pointer-events: none;
}

.content {
    display: none;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    flex-direction: column;
    position: relative;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    overflow: hidden;
    cursor: url('../cursor/arrowhead.png') 8 8, auto !important;
}

.nav-links li {
    display: inline-block;
    margin-right: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../background/background2.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.profile-cards-container {
    flex-grow: 1;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.profile-card {
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 10px;
    width: 30%;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.541);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.3s;
}

.profile-card h1 {
    color: white;
    margin-top: 5px;
}

.profile-card p {
    color: white;
    margin-bottom: -2px;
}

.rank-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    width: 225px;
    height: 100px;
}

.rank {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rank img {
    width: 40px;
    height: 40px;
}

.rank-title {
    font-weight: bold;
    color: white;
    margin-top: 5px;
    margin-bottom: 1px;
}

.content,
.footer {
    width: 100%;
    background-color: rgb(18, 20, 26);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
}

.footer-content p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-content a {
    color: #1e90ff;
    text-decoration: none;
    transition: 0.3s;
}

.footer-content a:hover {
    transition: 0.3s;
    color: #77096e;
}

.separator-line {
    width: 100%;
    height: 2px;
    background-color: #77096e;
}